/********************** Général **********************/

body {
    background-image: url("../../src/img/background.jpg");
}

#header {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(80, 80, 80, .95);
    border-radius: 20px;
    /*border: 10px solid black;*/
}

#logo {
    width: 20%;
}

#slg {
    font-size: 25pt;
    font-style: italic;
    font-weight: 550;
}

.menu_black {
    background-color: rgba(0, 0, 0, 0.95);
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.menu_black li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
}

#promo {
    width: 100%;
    border-radius: 190px;
    height: 320px;
}

#sa_flex {
    display: flex;
    flex-direction:row;
    align-content:flex-start;
}

section {
    background-color: rgba(80, 80, 80, .95);
    width: 69%; /********** Nice... ***********/
    text-align: justify;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}

aside {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.9);
    margin-top: 20px;
    margin-left: 6px;
    border-radius: 20px;
    width:30%;
}

h1 {
    font-size: initial;
}

h2 {
    font-size: initial;
}

/********************* Page tableau *********************/

textarea {
    resize: none;
}

.tb_img {
    width: 200px;
}

/******************** Page formulaire *********************/

#qu_flex {
    display: flex;
    justify-content:left;
}


#accept_flex {
    display: flex;
    justify-content: right;
}

/************************** MEDIA MOBILE PORTRAIT **************************/

@media screen and (max-height:768px) and (orientation:portrait)  {

    /* Adapté pour 432*768 */

    /* Général */

    #logo {
        width: 30%;
    }

    .menu_black {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 50px;
        margin:0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h1#slg {
        font-size: 14px;
    }

    h1 {
        font-size: 15px;
        padding-left: 5px;
    }

    h2 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #promo {
        max-height: 80px;
    }

    #section {
        padding: 0;
        width: 100%;
        margin: 0;
        margin-top:5px;
    }

    #aside {
        display:none;
    }

    hr {
        margin: 5px;
        padding: 0px;
    }

    /********************* Page tableau *********************/

    .tb_img {
        width:50px;
    }

    table {
        max-width:284px;
        font-size: 16px;
    }

    th {
        min-width: 40px;
    }

    /******************** Page formulaire *********************/

    label {
        font-size: 12px;
        float: left;
        clear: both;
    }

    input {
        max-width:120px;
        float: right;
    }
    #sx {
        font-size: 12px;
    }
    #sx input {
        float:initial;
    }
    #sx label {
        font-size: 10px;
        float:initial;
    }
    textarea {
        width:239px;
        resize:none;
    }
    fieldset {
        margin:0;
        margin-right: 5px;
        margin-left: 5px;
    }
    .bt {
        margin-right: 10px;
        margin-bottom: 10px;
    }

}

/************************** MEDIA MOBILE PAYSAGE **************************/

@media screen and (max-width:768px) and (orientation:landscape) {

    /***************** Adapté pour 768*432 *****************/

    /********************* Général *********************/

    #logo {
        width: 40%;
    }

    .menu_black {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-direction: column;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 50px;
        margin:0;
        margin-top: 5px;
        margin-bottom: 5px;   
    }

    

    h1#slg {
        font-size: 28px;
    }

    h1 {
        font-size: 19px;
        padding-left: 5px;
    }

    h2 {
        font-size: 19px;
        padding-left: 5px;
    }

    p {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #promo {
        max-height: 130px;
    }

    #section {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        width: 100%;
    }

    #aside {
        display:none;
    }
    
    /********************* Page tableau *********************/

    .tb_img {
        width:75px;
    }

    table {
        max-width:284px;
        font-size: 14px;
    }
    th {
        min-width: 130px;
    }

      /********************* Page formulaire *********************/

    label {
        font-size: 14px;
        float: left;
        clear: both;
    }

    input {
        max-width:200px;
        float: right;
    }
    #sx {
        font-size: 12px;
    }
    #sx input {
        float:initial;
    }
    #sx label {
        font-size: 10px;
        float:initial;
    }
    #lb_sujet {
        margin:0;
        padding:0;
        margin-top:10px;
    }
    textarea {
        padding:0;
        margin:0;
        margin-top: 10px;
        width:349px;
        resize:none;
    }
    fieldset {
        margin:0;
        margin-right: 5px;
        margin-left: 5px;
    }
    .bt {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
